@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include body-style();
  @import "templates/header";

  main {
    min-height: 70%;
    display: flex;
    justify-content: space-around;

    .add {
      @include add();

      &:first-of-type {
        left: $line;
        top: $line * 15;
      }

      &:last-of-type {
        right: $line;
        top: $line * 15;
      }
    }

    .content {
      flex: {
        grow: 1;
      }
      max-width: 80%;
      margin: $line 0 0;
      padding: $line 0;

      text: {
        align: right;
      }

      .items {
        width: 95%;
        margin: 0 auto;
        border-collapse: collapse;

        thead {

          tr {

            th {
              text: {
                align: center;
              }

              &.img {
                width: 10%;
              }

              &.name {
                width: 60%;
              }

              &.amount {
                width: 10%;
              }

              &.price {
                width: 10%;
              }

              &.remove {
                width: 10%;
              }
            }
          }

        }

        tbody {

          tr {

            &:hover {
              background: {
                color: $yellow;
              }

              transition: {
                duration: $time;
                timing-function: linear;
              }
            }

            &:last-of-type {
              td {

                border: {
                  bottom: $line / 2 solid $dark;
                }
              }
            }

            td {
              border: {
                bottom: $line / 10 solid $dark;
              }

              padding: 0;

              text: {
                align: center;
              }

              &.img {
                width: 10%;
                img {
                  height: $line * 7;
                }
              }

              &.name {
                width: 60%;
                text: {
                  align: left;
                }

                small {
                  font: {
                    weight: normal;
                  }
                }
              }

              &.amount {
                width: 10%;

                input {
                  width: 3em;
                  text-align: center;
                }
              }

              &.price {
                width: 10%;
                transition: {
                  duration: $time;
                  timing-function: linear;
                }
              }

              &.remove {
                width: 10%;
                img {
                  height: $line * 2;
                  cursor: pointer;
                }
              }
            }
          }
        }

        tfoot {
          td {
            padding: $line * 2 $line / 2;
            text: {
              align: center;
            }
            font: {
              size: $line * 2;
            }

            &:first-of-type {
              text: {
                align: right;
              }
            }

            &.button {
              padding: 0;
              position: relative;

              &::before {
                content: 'Мінімальна вартість замовлення складає 200 грн.!';
                position: absolute;
                bottom: 50%;
                right: 150%;
                width: $line * 50;
                background: {
                  color: rgba(255, 0, 0, 0.51);
                }
                padding: $line;
                border: {
                  radius: $line;
                  width: $line / 5;
                  style: solid;
                  color: black;
                }
                font: {
                  weight: bold;
                }
              }

              #submit-button {
                width: 100%;
                height: $line * 4;

                @include button();
              }
            }
          }
        }
      }

      .full-screen-confirmation {
        display: none;
        background: {
          color: fade_out(black, 0.5);
        }
        position: fixed;
        padding: 0;
        border: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        align-items: center;
        text: {
          align: left;
        }

        #confirmation {
          margin: $line * 3 auto;
          padding: 0 $line * 6 $line;
          width: 70%;
          background: {
            color: white;
          }
          border: {
            radius: $line * 5;
          }
          position: relative;

          box-shadow: $line / 2 $line / 2 0 0 $yellow;

          fieldset {
            border: none;
            margin: $line 0 0 0;
            padding-left: 0;

            legend {
              font: {
                weight: bold;
                size: $line * 2;
              }

              small {
                font: {
                  weight: normal;
                }
              }
            }

            &#order-summary {
              text-align: center;

              p {
                margin: 0;
                background: {
                  color: lighten($dark, 40%);
                }
                color: darken($dark, 10%);
                padding: $line;
                border: {
                  radius: $line;
                }
                font: {
                  size: $line * 2;
                  weight: bold;
                }
              }
            }

            &#payment {

              input {
                display: none;

                + label {
                  @include button();
                  display: inline-block;
                  padding: $line;
                  margin: 0 $line * 2 0 0;
                }

                &:checked + label {
                  transform: scale(1.2);
                }
              }
            }

            &#contact-info,
            &#order-address {

              label {
                display: inline-block;
                background: {
                  color: $yellow;
                }
                padding: $line / 2;
                margin: $line / 2 0;
                border: {
                  radius: $line / 2;
                }
                font: {
                  weight: bold;
                }
              }

              input {
                background: {
                  color: lighten($dark, 40%);
                }
                border: {
                  radius: $line / 2;
                  top: none;
                  left: none;
                  bottom: none;
                  right: none;
                }
                padding: $line / 2;
                outline: none;
                color: darken($dark, 10%);
                font: {
                  weight: bold;
                }
              }
            }
          }

          #submit {
            display: none;

            + label {
              display: block;
              text: {
                align: center;
              }
              @include button();
              padding: $line;
            }
          }

          .close {
            height: $line * 2;
            position: absolute;
            top: $line * 2;
            right: $line * 3;
            cursor: pointer;
          }

          > p {
            margin: 0 0 $line 0;
            padding: 0;
            font: {
              weight: bold;
            }
          }
        }
      }
    }
  }
  @import "templates/footer";
}