@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include body-style();
  @import "templates/header";

  main {
    position: relative;
    margin: 0 auto;
    width: 100%;

    .to-catalog {
      background: {
        color: $red;
      }
      position: absolute;
      top: 0;
      right: 0;
      padding: $line;
      color: $yellow;
      text: {
        decoration: none;
      }
      border: {
        bottom-left-radius: $line * 2;
      }

      display: flex;
      align-items: center;

      transition: {
        duration: $time / 2;
        timing-function: linear;
      }

      &:hover {
        padding-right: $line * 2;
      }

      img {
        height: $line * 2.5;
        margin: 0 $line / 2 0 0;
      }
    }

    .add {
      @include add();

      top: $line * 16;

      &:first-of-type {
        left: $line;
      }

      &:last-of-type {
        right: $line;
      }
    }

    .content {
      flex: {
        grow: 1;
      }
      max-width: 60%;
      margin: $line * 2 auto 0;
      padding: $line 0;

      text: {
        align: right;
      }

      .items {
        width: 95%;
        margin: 0 auto;
        border-collapse: collapse;

        thead {

          tr {

            th {
              text: {
                align: center;
              }
              background: {
                color: $light;
              }
              border: $line / 5 solid $light;
              padding: $line / 2;

              &:first-of-type,
              &:last-of-type{
                border: {
                  left: none;
                  right: none;
                }
              }

              &.num {
                width: 10%;
              }

              &.img {
                width: 10%;
                border: {
                  right: none;
                }
              }

              &.name {
                border: {
                  left: none;
                }
                width: 50%;
              }

              &.amount {
                width: 10%;
              }

              &.price {
                width: 10%;
              }

              &.remove {
                width: 10%;
              }
            }
          }

        }

        tbody {

          tr {
            border-bottom: $line / 5 solid $light;

            &:hover {
              color: $red;
              background: {
                color: $yellow;
              }

              transition: {
                duration: $time;
                timing-function: linear;
              }
            }

            &:last-of-type {
            }

            td {

              padding: 0;
              padding-top: $line / 2;

              text: {
                align: center;
              }
              background-color: transparentize($light, 0.35);

              &.num {
                width: 10%;
                font: {
                  weight: bold;
                }
              }


              &.img {
                border: {
                  right: none;
                }
                width: 10%;
                img {
                  height: $line * 7;
                }
              }

              &.name {
                border: {
                  left: none;
                }
                width: 60%;
                text: {
                  align: left;
                }

                h3 {
                  margin: 0 0 0 $line;
                  small {
                    font: {
                      weight: normal;
                    }
                  }
                }
              }

              &.amount {
                width: 10%;

                input {
                  width: 3em;
                  text-align: center;
                  @include input();
                  border: $line / 10 solid $red;
                }
              }

              &.price {
                width: 10%;
                transition: {
                  duration: $time;
                  timing-function: linear;
                }
              }

              &.remove {
                background-color: white;
                width: 10%;
                padding: $line;
                img {
                  height: $line * 4;
                  cursor: pointer;
                }
              }
            }
          }
        }

        tfoot {
          display: none;

          td {
            padding: $line * 2 $line / 2;
            text: {
              align: left;
            }
            font: {
              size: $line * 2;
            }

            >span.value {
              font: {
                size: $line * 2.5;
                weight: bold;
              }
            }
            .sum {
              color: saturate($red, 10%);
              font: {
                size: $line * 3;
              }
              &~span{
                font: {
                  size: $line * 2;
                  style: italic;
                };
              }
            }

            &:first-of-type {
              text: {
                align: right;
              }
            }

            &.button {
              padding: 0;
              position: relative;
              text: {
                align: right;
              }

              #submit-button {
                width: 40%;
                height: $line * 4;

                @include button($red, $yellow);
              }
            }
          }
        }
      }

      p.empty {
        display: none;
        margin: $line auto;
        font: {
          weight: bold;
          size: $line * 2;
        }
        text: {
          align: center;
        }
      }

      .full-screen-confirmation {
        display: none;
        background: {
          color: fade_out(black, 0.5);
        }
        position: fixed;
        padding: 0;
        border: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        align-items: center;
        text: {
          align: left;
        }
        z-index: 25;

        #confirmation {
          margin: $line * 3 auto;
          padding: $line $line * 6;
          background: {
            image: none;
            position: 0 0;
            size: 100% 100%;
            color: white;
          }
          border: {
            radius: $line * 5;
          }
          position: relative;

          box-shadow: $line / 5 $line / 5 0 0 $dark;

          //overflow: scroll !important;

          fieldset {
            border: $line / 8 solid $grey-item;
            margin: $line / 2 0 $line 0;
            //padding-left: $line;
            padding-bottom: $line * 2;

            border: {
              radius: $line;
            };



            legend {
              font: {
                weight: bold;
                size: $line * 1.8;
              }
              //color: $yellow;

              small {
                font: {
                  weight: normal;
                }
              }
            }

            &#order-summary {
              text-align: center;
              border: none;
              padding-bottom: 0;

              p {
                margin: 0;
                padding: $line;
                border: {
                  radius: $line;
                }
                font: {
                  size: $line * 2.5;
                  //weight: bold;
                }
                .total-sum{
                  color: lighten($red, 10%);
                }
              }
            }

            &#payment {


              input {
                display: none;

                + label {
                  @include button($light);
                  display: inline-block;
                  padding: $line;
                  margin: 0 $line * 2 0 0;

                  &:last-of-type{
                    @include button($privat24);
                    color: white;
                    text: {
                      shadow: 1px 1px 1px $dark;
                    }
                    font: {
                      weight: normal;
                    };
                  }

                }


                &:checked + label {
                  transform: scale(1.1);
                }
              }
            }

            &#contact-info,
            &#order-address {

              >legend {
                >small {
                  font:{
                    style: italic;
                    style: $line * 1.5;
                  }
                  color: grey;
                }
              }

              label {
                display: inline-block;
                background: {
                  //color: $background;
                }
                padding: $line / 2;
                margin: $line / 2 0;
                border: {
                  //radius: $line / 2;
                }
                font: {
                  //weight: bold;
                  size: $line * 1.5;
                }
                margin-left: $line * 2;
              }

              input {
                background: {
                  //color: opacify($yellow, 0.2);
                }
                border: {
                  top: none;
                  left: none;
                  bottom: $line / 10 solid darkgrey;
                  right: none;
                }
                padding: $line / 2.5;
                outline: none;
                font: {
                  //weight: bold;
                }
                //color: $dark;

                //box-shadow: 0 0 $line / 2 $line / 10 opacify($yellow, 0.2);

                &#building {
                  text: {
                    align: center;
                  }
                }
              }
            }
          }

          #submit {
            display: none;



            + label {
              display: block;
              text: {
                align: center;
              }
              @include button($background);
              box-shadow: 1px 1px 0 0 $dark;
              width: 30%;
              color: $dark;
              font: {
                weight: bold;
                size: $line * 2.3;
              }
              padding: $line;
              cursor: pointer;

              margin-bottom: $line * 2;
            }
          }

          .close {
            height: $line * 3;
            position: absolute;
            top: $line * 3;
            right: $line * 2;
            cursor: pointer;

            transition: {
              duration: $time / 2;
              timing-function: linear;
            }

            &:hover {
              transform: scale(1.1);
            }
          }

          > p {
            margin: $line / 2 0;
            padding: 0;
            font: {
              //weight: bold;
            }
            color: $yellow;
          }
        }
      }
    }

    @import "templates/full-screen-feedback";
  }
  @import "templates/footer";
  @import "templates/preloader";
}

@media only screen and(min-device-width: 320px) and(max-device-width: 768px) {
  body {

    main {
      width: 100% !important;
      margin-bottom: 2em;

      .to-catalog {
        top: -6em;

        border-radius: 1em !important;

        padding: 1.2em !important;
        span{
          display: none;
        }

        &:hover {
        }

        img {
          height: 5em;
        }
      }

      .add {
        display: none;

        &:first-of-type {
        }

        &:last-of-type {
        }
      }

      .content {
        margin-top: 2.5em;
        max-width: 95% !important;

        .items {
          width: 100%;

          thead {
            display: none;

            tr {

              th {
                &.num {
                }

                &.img {
                }
              }

              &.name {
              }

              &.amount {
              }

              &.price {
              }

              &.remove {
              }
            }
          }

        }

        tbody {

          tr {


            &:hover {
            }

            &:last-of-type {
              td {
                //border: none !important;
              }
            }

            td {
              $border-radius: 1em;

              background-color: transparentize($light, 0.1);
              border: none !important;
              font: {
                size: 2.3em;
              }
              padding: {
                bottom: 0.5em !important;
                top: 0.5em !important;
              }
              height: 2.5em !important;
              &:first-of-type {
                border-radius: $border-radius 0 0 $border-radius;
                background-color: $yellow;
              }
              &:last-of-type{
                border-radius: 0 $border-radius $border-radius 0;
              }

              &.num {
                font: {
                  size: 4em;
                };
                text-shadow: 3px 3px 0 $light;
              }


              &.img {
                padding-left: 3%;
                img {
                  height: 5em !important;
                  border-radius: $border-radius !important;
                }
              }

              &.name {
                width: 30% !important;
                text-align: center;
                h3 {
                  text-align: center;
                  small {
                  }
                }
              }

              &.amount {
                padding: {
                  right: 3%;
                  left: 3%;
                }

                input {
                  width: 80% !important;
                  font: {
                    size: 1.4em !important;
                  };
                  border: 0.07em solid $red !important;
                }
              }

              &.price {
                font: {
                  size: 3em;
                }
                color: $red;
              }

              &.remove {
                padding-right: 2%;
                img {
                  height: 2.5em !important;
                }
              }
            }
          }
        }

        tfoot {

          td {
            font: {
              size: 2.8em !important;
              weight: bold;
            };

            &:first-of-type {
            }

            &.button {
              padding: 0;

              #submit-button {
                width: 100% !important;
                height: inherit !important;
                padding: 0.5em;

                font: {
                  size: 1em;
                  weight: normal !important;
                }
                text-shadow: 2px 2px 5px $dark;
                color: white !important;

                -webkit-box-shadow:  0.1em 0.1em 0.1em $grey-text;
                -moz-box-shadow:  0.1em 0.1em 0.1em $grey-text;
                box-shadow:  0.1em 0.1em 0.1em $grey-text;
              }
            }
          }
        }
      }

      p.empty {
      }

      .full-screen-confirmation {
        padding: 0 !important;

        #confirmation {
          border: 1em solid $light;
          margin-top: 0 !important;
          height: 90% ;
          padding-top: 3em !important;
          padding-bottom: 3em !important;
          overflow: scroll;

          background: {
            image: linear-gradient(to bottom, $dark 90%, $grey-text) !important;
          };


          fieldset {

            font: {
              size: 2.3em;
            }

            legend {
              font: {
                size: 1.2em !important;
              }

              small {
              }
            }

            &#order-summary {

              p {
                font: {
                  size: 1.2em !important;
                }
              }
            }

            &#payment {

              input {
                + label {
                }
                &:checked + label {
                }
              }
            }

            &#contact-info,
            &#order-address {

              label {
                margin-top: 0.4em !important;
                font: {
                  size: 1.2em !important;
                }
              }

              input {
                font: {
                  size: 1.2em !important;
                }

                &#building {
                }
              }
            }
          }

          #submit {

            + label {
              padding: 0.4em !important;
              font: {
                size: 2.8em;
              };
            }
          }

          .close {
            height: 4.5em !important;

            &:hover {
            }
          }

          > p {
            margin-top: 2.7em !important;
            text-align: center;
            font: {
              size: 2.3em;
              weight: normal !important;
            }
          }
          > .g-recaptcha{
            transform: scale(2.1);
            transform-origin: top left;
          }
        }
      }
    }

    @import "templates/preloader";
  }
}

