@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background:{
    image: url("../images/paper-1.png");
  }
  min-width: $line * 74;

  @import "templates/header";
    
  main {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    min-width: $line * 74;

    position: relative;

    .page-navigation {
      //position: absolute;

      width: 100%;
      margin: 0;
      font: {
        family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }


      height: 0;
      visibility: hidden;



      .fixed {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;

        z-index: 3;

        text-align: center;

        background-color: lighten(white, 40px);
      }


      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 0;
        padding: 0;

        width: 100%;


        li{
          margin: 0;
          text-align: center;
          display: inline-block;

          padding: $line;
          //border-radius: 10px;

          background: {
            color: $light;
          }

          a {
            color: $header-text;
            font: {
              size: $line * 1.2;
            }
            text: {
              decoration: none;
            }

          }
        }
      }
    }

    .lending-nav {
      height: 100%;
      width: 100%;

      border: {
        spacing: $line * 2;
      }

      td {
        overflow: hidden;
        cursor: pointer;

        background: {
          image: url("../images/374728-svetik.png");
          size: 100% 100%;
        }
        height: $line * 10;
        vertical-align: bottom;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: $line/5 0  $line / 5 $line / 5 grey;
        -moz-box-shadow: $line/5 0  $line / 5 $line / 5 grey    ;
        box-shadow: $line/5 0  $line / 5 $line / 5 grey    ;

        border-radius: $line * 2;
        
        
        &:hover{
          vertical-align: middle;

          background-image: none;

          background-color: $light;

          color: darken($light, 20px);
          text-shadow: 0 0 2px #000;
        }
      }
      h4{
        margin: 0;
        height: auto;
        background-color: rgba(255, 255, 255, 0.6);

        padding: $line;

        font: {
          size: $line * 3.2;
          family: Arial;

        }
        text: {
          transform: uppercase;
        };
      }


        img {
          height: 100%;
        }

    }
    
    .content {
      text-align: center;
      border-collapse: separate;
      border-spacing: $line * 2;
      margin: 0 auto;

       display: none;
      
      caption {
        display: flex;
        font: {
          weight: bold;
          size: $line * 1.5;
        }
        
        hr {
          flex-grow: 1;
        }
      }
      
        tr {
          box-sizing: border-box;
            
          td {
            position: relative;
            box-sizing: border-box;
            background-color: white;
            min-height: $line * 3;
            border: $line / 5 solid black;
            border-radius: 10%;

            padding: 0;

            overflow: hidden;

            @include item;
              
            img {
              width: 100%;
            }
              
            .name,
            .price {
              margin: 0;
            }
              
            .name {
              margin-bottom: 0;
              width: 100%;
              padding:$line / 3;
              
                font: {
                  weight: normal;
                  size: $line * 1.5;
                }
              }
            
              .price{
                position: absolute;

                z-index: 2;

                right: 0;
                top: 0;
                margin: 0;

                border-radius: 0 0 0 $line *2;
                border: {
                  left: 1px solid black;
                  bottom: 1px solid black;
                }

                padding: 2%;
                padding-top: .5%;

                background-color: $light;

                font: {
                  size: $line * 2;
                }
                span{
                  font-size: $line*1.2;
                }
              }
            }

            text-align-last: center;
          }


      }
      label{
        display: inline-block;
        background-color: white;



        input{
          border: 3px solid black;
          border-radius: 20%;
        }
      };
      
    }
    fieldset{
      border: {
        left: none;
        right: none;
        bottom: none;
      }
      width: 70%;
      margin: 0 auto;
      legend{
        font:{
          size: $line * 2.5;
          family: "Lucida Console", Monaco, monospace;
          }
        text: {
          transform: uppercase;
        }
      }

    }
  @import "templates/footer";

  #DataTables_Table_0_wrapper {
    display: none;

    margin-top: $line * 4;

    &>* {
      display: inline-block;
      float: none;
      text-align: center;
    }

  }



}

