@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include body-style();
  @import "templates/header";

  main {
    text-align: center;
    width: 85%;
    margin: 0 auto;

    min-width: $line * 75;

    position: relative;

    .add {
      @include add();

      &:first-of-type {
        top: $line * 15;
        left: $line;
      }

      &:last-of-type {
        top: $line * 15;
        right: $line;
      }
    }

    .landing-nav {
      height: 100%;
      width: 100%;

      border: {
        spacing: $line * 2;
      }

      .item {
        overflow: hidden;
        cursor: pointer;

        width: 16%;

        background: {
          image: url("../images/374728-svetik.png");
          size: 100% 100%;
        }

        height: $line * 15;

        box-shadow: $line / 10 0  $line / 2 $line / 10 $dark;

        border: {
          radius: $line * 2;
        }

        .item-container {
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;

          display: flex;
          align-items: flex-end;
          justify-content: center;

          font: {
            size: $line * 2;
            family: Arial;
          }

          text: {
            decoration: none;
            transform: none;
          }

          color: black;

          h4 {
            flex-grow: 1;
            background: {
              color: fade_out($light, 0.2);
            }

            transition: {
              duration: $time / 2;
              timing-function: linear;
            }

            margin: 0;
            padding: $line * 2 0 0;

            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
              height: $line * 2.4;
              opacity: 0;
              transition: {
                duration: $time / 2;
                timing-function: linear;
              }
              margin: $line / 2 0 0;
            }
          }

          &:hover h4 {
            height: 100%;
            color: $red;

            padding: 0;

            background: {
              color: $light;
            }

            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @import "templates/footer";
}

