@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @import "templates/preloader";
  @include body-style();
  @import "templates/header";
  @import "templates/cart-on-page";

  main {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    min-width: $line * 75;

    position: relative;

    .to-cart {
      background: {
        color: $red;
      }
      position: absolute;
      top: 0;
      right: 0;
      padding: $line;
      color: $yellow;
      text: {
        decoration: none;
      }
      border: {
        bottom-left-radius: $line * 2;
      }

      transition: {
        duration: $time / 2;
        timing-function: linear;
      }

      display: flex;
      align-items: center;

      box-shadow:  -1px 1px $line / 15 $grey-text;

      &:hover {
        padding-right: $line * 2;
      }

      img {
        height: $line * 2.5;
      }
    }

    .add {
      @include add();
      display: none;

      top: $line * 16;

      &:first-of-type {
        left: $line;
      }

      &:last-of-type {
        right: $line;
      }
    }

    .landing-nav {
      height: 100%;
      width: 85%;
      max-width: $line * 120;
      margin: 0 auto;

      border: {
        spacing: $line * 2;
      }
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 2%;

      .item {
        overflow: hidden;
        cursor: pointer;

        width: 13%;
        display: flex;
        flex-direction: column-reverse;

        background: {
          size: 50% 50%;
          repeat: no-repeat;
          position: center 20%;

          color: lighten(transparentize($light, 0.3), $line * 3);
        }

        height: $line * 15;

        box-shadow: $line / 10 $line / 10  $line / 5 0 $grey-text;

        border: {
          //radius: $line * 2;
          bottom: $line / 5 solid $grey-text;
        }

        a {
          text: {
            decoration: none;
          }
          color: $dark;
          background: {
            color: transparentize($darkyellow, 0.1);
          }

          height: $line * 5;
          padding: 0 $line / 2;
          display: flex;
          align-items: center;
          justify-content: center;

          font: {
            weight: bold;
            family: "Belfast Heavy SF";
            size: $line * 1.7;
          }
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }
        }

        &:hover {
          background: {
            position: center;
          };

          a {
            height: 100%;
            color: $red;
            font: {
              //weight: bold;
            }
          }
        }

        &.water{
          background-image: url("../SVG/water.svg");
        }
        &.juice{
          background-image: url("../SVG/juice.svg");
        }
        &.drinks{
          background-image: url("../SVG/drinks.svg");
        }
        &.tea{
          background-image: url("../SVG/tea.svg");
        }
        &.coffee{
          background-image: url("../SVG/coffee.svg");
        }
        &.confectionery{
          background-image: url("../SVG/cakes.svg");
        }
        &.snacks{
          background-image: url("../SVG/snack.svg");
        }
        &.bread{
          background-image: url("../SVG/bread.svg");
        }
        &.meat{
          background-image: url("../SVG/meat.svg");
        }
        &.seafood{
          background-image: url("../SVG/fish.svg");
        }
        &.grocery{
          background-image: url("../SVG/grocery.svg");
        }
        &.cheese{
          background-image: url("../SVG/cheese.svg");
        }
        &.dairy{
          background-image: url("../SVG/dairy.svg");
        }
        &.vegetables{
          background-image: url("../SVG/vegetables.svg");
        }
        &.frozen{
          background-image: url("../SVG/frozen.svg");
        }
        &.domestic{
          background-image: url("../SVG/domestic.svg");
        }
        &.spirits{
          background-image: url("../SVG/spirits.svg");
        }
        &.tobacco{
          background-image: url("../SVG/tobacco.svg");
        }
      }
    }

    @import "templates/full-screen-feedback";
  }
  @import "templates/footer";
}

@media only screen and(min-device-width: 320px) and(max-device-width: 768px) {
  body {
    @import "templates/preloader";
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
      margin-top: 1.3em;
      .to-cart {
        height: 3.2em;

        box-sizing: border-box;

        top: -3.1em;
        right: 0;

        border-radius: $line * 2;

        font: {
          size: 2.4em;
        };

        padding: 2%;

        &:hover {
        }

        img {
          height: 100%;
        }
        span{
          display: none;
        }
      }
      .add {
        display: none;
        &:first-of-type {
        }

        &:last-of-type {
        }
      }

      .landing-nav {
        width: 100% !important;
        padding: 0 !important;
        tr{

        }
        .item {
          width: 30%;
          height: 11em;
          margin-top: 2%;
          margin-bottom: 2%;
          vertical-align: middle !important;

          a {
            font: {
              size: 3.8em;
              family: Logo, "Palatino Linotype", sans-serif;
              weight: normal;
            }
            height: 100%;
            word-wrap: break-word;

            padding: 0.1em;
            background: {
              color: transparentize($darkyellow, 0.2);
            }
          }
        }
      }

      @import "templates/full-screen-feedback";
    }
  }
}

