@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include body-style();
  @import "templates/header";
  @import "templates/catalog-navigation";

  #main-header {
    border-bottom: none;
  }

  main {
    transition: {
      duration: $time;
      timing-function: linear;
    }

    .add {
      @include add();
      top: $line * 15;
      right: $line;
    }

    .content {
      position: relative;

      .content-manage {
        display: flex;
        flex-direction: column;
        margin: $line * 2 0 0;
        width: 100%;

        .heading {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 1.5% auto 0.5% auto;

          h2 {
            color: $grey-text;
            margin: 0 $line * 1.5;

            font: {
              weight: bold;
              size: $line * 3;
            }
            text-shadow: 1px 1px 2px $dark;
          }

          hr {
            display: none;
            flex-grow: 1;
            border: {
              color: $grey-text;
            }
            max-width: $line * 2;
          }
        }

        .search {
          margin: $line auto 0;
          label {
            font: {
              size: $line * 1.5;
              weight: bold;
            }
            color: $red;

            margin: 0 $line / 2 0 0;
          }

          #search {
            @include input();
            border: {
              top-right-radius: 0;
              bottom-right-radius: 0;
            }

            //&:enabled{
            //  -webkit-box-shadow:  0 0 $line / 5 $grey-text;
            //  -moz-box-shadow:  0 0 $line / 5 $grey-text;
            //  box-shadow:  0 0 $line / 5 $grey-text;
            //}
            box-shadow: none;
          }

          #search-button {
            @include button();
            padding: $line;
            border: {
              top-left-radius: 0;
              bottom-left-radius: 0;
            }
            margin-left: $line / -2;
          }
        }
      }

      .items {
        text: {
          align: center;
        }
        margin: $line auto 0;
        padding: 0;
        width: 80%;

        list-style: none;
        justify-content: center;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        .item {
          position: relative;

          width: 15%;
          min-height: $line * 15;
          padding: $line / 2;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 $line $line * 3;

          @include item();

          &:nth-child(5n) .details {
            transform: translateX(-60%);
          }

          .details {
            display: none;

            position: absolute;
            top: 0;
            left: 0;
            width: 250%;
            height: 110%;

            background: {
              color: $light;
            }

            padding: $line;
            z-index: 20;

            border: {
              radius: $line * 2;
            }

            cursor: default;

            img {
              height: 100%;
              width: auto;
              box-shadow: none;
            }

            .buy-item {
              margin: 0 0 0 $line;
              padding: 0;
              align-self: stretch;
              position: relative;
              text: {
                align: center;
              }

              .name {
                color: $red;
                margin: $line / 2 0;
                font: {
                  size: $line * 1.5;
                  weight: bold;
                }
              }

              .price {
                font: {
                  weight: bold;
                }
                margin: $line * 2 auto $line;
                width: 50%;
              }

              label {
                font: {
                  size: $line * 1.5;
                }
              }

              #amount {
                @include input();

                width: 20%;

                box-shadow: 0 0 $line / 10 $line / 10 $dark;
                font: {
                  weight: bold;
                  size: $line * 1.4;
                }
                text-align: center;
              }

              .add-to-cart-button {
                @include button($red, $yellow);
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: $line;
                font: {
                  size: $line * 1.5;
                }
                cursor: pointer;
              }
            }
          }

          img {
            width: 100%;
            border: {
              radius: $line * 2;
            }
            box-shadow: $line / 10 $line / 10 $line / 10 0 $dark;
          }

          .name {
            width: 100%;
            padding: 0;
            margin: $line / 2 0;

            font: {
              weight: bold;
              size: $line * 1.5;
            }
          }

          .price {
            @include button-2();
            font: {
              size: $line * 1.5;
            }
            margin: $line / 5;
          }
        }
      }
    }

    @import "templates/full-screen-feedback";
  }

  @import "templates/footer";
}
@media only screen and(min-device-width: 320px) and(max-device-width: 768px) {
  #main-header{
    display: none !important;
  }
  main {
    .add {
      display: none !important;
    }

    .content {

      .content-manage {

        .heading {
          position: relative;
          width: 100% !important;
          text: {
            align: center;
          }
          padding: 0;
          margin-left: 0 !important;
          margin-top: 0.3em !important;
          justify-content: flex-start !important;

          h2 {
            background-color: $light;
            padding: 1%;

            font: {
              size: 2.5em !important;
              weight: normal !important;
            };
            text-shadow: none !important;
            border: {
              color: $red;
              width: 0.1em;
              style: solid;
              radius: 0.3em;
            };
            color: $red !important;
          }

          hr {
            display: none;
          }
        }

        .search {
          margin-top: 3% !important;

          width: 100%;
          text-align: center;
          label {
            font: {
              size: 2.3em !important;
            }
            color: $dark !important;
          }

          #search {
            width: 40%;

            font: {
              size: 2.2em;
            }
            border-radius: 0.2em !important;
          }

          #search-button {
            //display: none;
            font: {
              size: 2em;
            }
            padding: 0.6em !important;
            border-radius: 0.4em !important;
            margin-left: 0.4em !important;
            -webkit-box-shadow:  0 0 0.3em $red;
            -moz-box-shadow:  0 0 0.3em $red;
            box-shadow:  0 0 0.3em $red;
            color: $red !important;
          }
        }
      }

      .items {
        width: 100% !important;
        margin-top: 2% !important;

        .item {
          box-sizing: border-box;

          width: 30% !important;

          &:nth-of-type(3n+2){
            .details{
              left: -100%;
            }
          }
          &:nth-of-type(3n+3){
            .details{
              left: -150%;
            }
          }
          &:nth-of-type(5n) .details{
            transform: translateX(0%) !important;
          }

          .details {
            img {
            }

            .buy-item {

              .name {
                font: {
                  size: 2.8em !important;
                }
              }

              .price {
                width: 80% !important;
                font: {
                  size: 2.6em !important;
                }
                background-color: $yellow !important;
              }

              label {
                font: {
                  size: 2.6em !important;
                }
              }

              #amount {
                font: {
                  size: 2.4em !important;
                }
                box-shadow: 0.01em 0.01em 0.05em 0.05em $dark !important;
              }

              .add-to-cart-button {
                padding: 0.7em !important;
                font: {
                  size: 2.4em !important;
                  weight: normal !important;

                }
              }
            }
          }

          img {
          }

          .name {
            font: {
              size: 2.2em !important;
            }
          }

          .price {

            font: {
              size: 2.4em !important;
            }
            text: {
              shadow: 1px 1px 1px $light;
            }
          }
        }
      }
    }

  }
}