@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include body-style();
  @import "templates/header";
  @import "templates/catalog-navigation";

  main {
    transition: {
      duration: $time;
      timing-function: linear;
    }

    .add {
      @include add();
      top: $line * 15;
      right: $line;
    }

    .content {
      position: relative;

      .content-manage {
        display: flex;
        flex-direction: column;
        margin: $line * 2 0 0;
        width: 100%;

        .heading {
          width: 60%;
          display: flex;
          align-items: center;
          margin: 0 auto;

          h2 {
            color: $red;
            margin: 0 $line * 1.5;

            font: {
              weight: bold;
              size: $line * 3;
            }
          }

          hr {
            flex-grow: 1;
            border: {
              color: $red;
            }
          }
        }

        .search {
          margin: $line auto 0;
          label {
            font: {
              size: $line * 1.5;
              weight: bold;
            }
            color: $red;

            margin: 0 $line / 2 0 0;
          }

          #search {
            @include input();
            border: {
              top-right-radius: 0;
              bottom-right-radius: 0;
            }
          }

          #search-button {
            @include button();
            padding: $line;
            border: {
              top-left-radius: 0;
              bottom-left-radius: 0;
            }
            margin-left: $line / -2;
          }
        }
      }

      .items {
        text: {
          align: center;
        }
        margin: $line auto 0;
        padding: 0;
        width: 80%;

        list-style: none;
        justify-content: center;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .item {
          position: relative;

          width: 15%;
          min-height: $line * 15;
          padding: $line / 2;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 0 $line $line * 3;

          @include item();

          &:nth-child(5n) .details {
            transform: translateX(-60%);
          }

          .details {
            display: none;

            position: absolute;
            top: 0;
            left: 0;
            width: 250%;
            height: 100%;

            background: {
              color: $light;
            }

            box-shadow: $line / 10 $line / 10 $line / 2 $line / 10 $dark;
            padding: $line;
            z-index: 20;

            border: {
              radius: $line * 2;
            }

            cursor: default;

            img {
              width: 50%;
            }

            .buy-item {
              margin: 0 0 0 $line;
              padding: 0;
              align-self: stretch;
              position: relative;
              text: {
                align: center;
              }

              .name {
                color: $red;
                margin: $line / 2 0;
                font: {
                  size: $line * 1.5;
                  weight: bold;
                }
              }

              .price {
                font: {
                  weight: bold;
                }
                margin: 0 auto $line;
                width: 50%;
              }

              label {
                font: {
                  size: $line * 1.5;
                }
              }

              #amount {
                @include input();

                width: 20%;

                box-shadow: 0 0 $line / 10 $line / 10 $dark;
                font: {
                  weight: bold;
                }
              }

              .add-to-cart-button {
                @include button($red, $yellow);
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                padding: $line;
                font: {
                  size: $line * 1.5;
                }
                cursor: pointer;
              }
            }
          }

          img {
            width: 100%;
            border: {
              radius: $line * 2;
            }
            box-shadow: $line / 10 $line / 10 $line / 10 0 $dark;
          }

          .name {
            width: 100%;
            padding: 0;
            margin: $line / 2 0;

            font: {
              weight: bold;
              size: $line * 1.5;
            }
          }

          .price {
            @include button-2();
            font: {
              size: $line * 1.5;
            }
            margin: $line / 5;
          }
        }
      }
    }

    @import "templates/full-screen-feedback";
  }

  @import "templates/footer";
}