#cart-section{
  position: fixed;
  z-index: 5;
  width: $line * 70;
  max-width: 100%;
  height: $line * 50;
  max-height: 100%;

  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  
  background-color: white;
  border: {
    radius: $line / 2;
  }
  box-shadow: 0 0 $line * 1.5 $dark;

  padding: $line * 2;

  font: {
    size: $line * 2;
  }
  &.closed{
    display: none;
  }

  h3{
    margin: 0;

    font: {
      size: $line * 2.5;
      weight: normal;
    }
    text-align: left;


  }

  #cart-list{
    padding: 0;
    overflow: auto;
    flex-grow: 1;
    flex-basis: 60%;
    margin-bottom: $line * 4;

    #cart-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: stretch;
      border-bottom: $line / 10 solid lightgray;

      &:last-of-type{
        border-bottom: none;
      }

      &>* {
        padding: $line * 2;
        text-align: left;
        font: {
          size: $line * 1.5;
        }
      }

      #item-img{

      }
      #item-name{
        word-break: break-all;
        flex-basis: 80%;
        flex-grow: 1;
      }
      #amount{
        #item-amount{
          width: $line * 3;
          text-align: left;
          padding: $line;
          font: {
            weight: bold;
            size: $line * 1.8;
          }
          border: {
            radius: $line / 2;
          };
        }

      }
      #item-price{
        flex-basis: 20%;
        flex-grow: 1;
      }
      .cross {
        height: $line * 2;
      }
    }
  }
  .cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    flex-basis: 10%;

    button{
      padding: $line;
      font: {
        size: $line * 2;
      }

    }
    .return-button {
      @include button($yellow);
    }

    .confirm-button {
      @include button($red);
      color: white;
      text-shadow: 1px 1px 0 $dark;

    }
  }
}