#cart-section{
  position: fixed;
  z-index: 5;

  left:50%;
  top:50%;

  transform: translate(-50%);
  header{

  }

  #cart-list{

    #cart-item{
      display: flex;


      #item-img{

      }
      #item-name{

      }
      input#item-amount{

      }
      #item-price{

      }
    }
  }
}