footer {
  display: flex;
  justify-content: space-around;
  background-color: $dark;
  margin-top: $line * 2;

  position: relative;

  .add {
    @include add(true, $line * 40, $line * 11);
    top: $line;
    left: $line;
    position: absolute;
  }

  .contacts {
    margin: $line $line $line auto;

    .name {
      font: {
        weight: bold;
      }
      text: {
        align: right;
      }
    }

    .icon {
      img {
        height: $line * 2;
      }
    }

    .addresses {
      vertical-align: top;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
