footer {
  display: flex;
  justify-content: space-around;

  background-color: $header;

  margin-top: $line * 2;
  .add {
    width: $line * 40;
    height: $line * 10;

    //background: {
    //  color: $light;
    //}

    margin: $line;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .contacts {
    margin: $line $line $line auto;

    .name {
      font: {
        weight: bold;
      }
      text: {
        align: right;
      }
    }

    .icon {
      img {
        height: $line * 2;
      }
    }

    .addresses {
      vertical-align: top;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
