footer {
  display: flex;
  justify-content: center;
  background: {
    color: darken($red, 10%);
  }
  margin: auto 0 0;
  border-top: $line / 4 solid $red;

  position: relative;
  min-height: $line * 15;

  .add {
    @include add(false, $line * 46.8, $line * 6);
    padding: 0;
    position: absolute;
    top: $line;
    left: $line;

    &:last-of-type {
      top: auto;
      bottom: $line;
      left: $line;
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    text-align: center;
    align-self: flex-end;
    margin: $line;

    max-width: $line * 27;

    span{
      display: block;
      color: $light;
      font: {
        weight: normal;
        size: $line * 1.2;
      }

      margin-top: $line / 2;
    }
  }

  .contacts {
    margin: $line;
    color: $light;
    position: absolute;
    top: 0;
    right: 0;
    font: {
      size: $line * 1.2;
    }

    .name {
      font: {
        weight: normal;
      }
      text: {
        align: right;
      }
    }

    .icon {
      img {
        height: $line * 2;
      }
    }

    .addresses {
      vertical-align: top;
     

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media only screen and(min-device-width: 320px) and(max-device-width: 568px) {
  footer {
    min-height: 14em !important;
    justify-content: space-around !important;

    .add {
    }

    .info {
      position: absolute;
      bottom: 1%;
      left: 6%;
      max-width: 40% !important;

      span{
        font: {
          size: 1.6em;
        }
      }
    }

    .contacts {
      tbody {
        tr {
          display: flex;
          font: {
            size: 2.5em;
          }
          position: relative;
          .name {
            display: none;
          }

          .icon {
            margin-left: -2em;
            bottom: 0;
            img {
              height: 1.2em;
              margin-right: 0.4em;
            }
          }

          .addresses {
            ul {
            }
          }
        }
      }
    }
  }
}
