#main-header {
  position: relative;
  width: 100%;
  background: {
    color: opacify($yellow, 0.1);
  }
  min-height: $line * 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 0 0 $line;
    padding: $line / 2;

    background: {
      color: opacify($darkyellow, 0.2);
    }

    text: {
      decoration: none;
    }

    overflow: hidden;

    h1 {
      position: relative;
      flex-grow: 1;
      padding: 0;
      margin: 0;
      box-shadow: inset 0 0 0 $line / 5 $red;
      overflow: hidden;

      .title {
        display: flex;
        align-items: center;

        color: $red;

        font: {
          family: Logo, "Palatino Linotype", sans-serif;
          size: $line * 6;
        }

        .dot {
          font: {
            size: $line * 2;
          }
          margin: $line;
        }
      }

      .corner {
        display: block;

        background: {
          color: opacify($darkyellow, 0.2);
        }

        border: {
          style: solid;
          width: $line / 5;
          color: $red;
        }

        &:nth-of-type(1) {
          top: $line * -2.8;
          left: $line * -2.8;
        }

        &:nth-of-type(2) {
          top: $line * -2.8;
          right: $line * -2.8;
        }

        &:nth-of-type(3) {
          bottom: $line * -2.8;
          right: $line * -2.8;
        }

        &:nth-of-type(4) {
          bottom: $line * -2.8;
          left: $line * -2.8;
        }
      }
    }

    .corner {
      position: absolute;
      width: $line * 4;
      height: $line * 4;

      border: {
        radius: 50%;
      }
    }

    > .corner {
      background: {
        color: opacify($yellow, 0.1);
      }

      &:nth-of-type(1) {
        top: $line * -2.5;
        left: $line * -2.5;
      }

      &:nth-of-type(2) {
        top: $line * -2.5;
        right: $line * -2.5;
      }

      &:nth-of-type(3) {
        bottom: $line * -2.5;
        right: $line * -2.5;
      }

      &:nth-of-type(4) {
        bottom: $line * -2.5;
        left: $line * -2.5;
      }
    }
  }

  #customers-info {
    align-self: stretch;
    flex-basis: 50%;
    position: relative;
    margin: 0;

    p {
      margin: 0;
      background: {
        color: $darkyellow;
      }
      position: absolute;
      height: 100%;
      left: 100%;
      text: {
        align: center;
      }
      transition: {
        duration: $time;
        timing-function: linear;
      }
      padding: $line * 2;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 $line / 5 $red;
      border: {
        radius: $line * 2;
      }

      .label {
        display: block;

        height: 47%;
        width: $line * 4;

        position: absolute;
        right: 100%;

        background: {
          image:
                  linear-gradient(to bottom right, opacify($yellow,0.1) $line * 1.5, transparent $line * 1.5),
                  linear-gradient(to top right, $yellow $line * 1.5, $red $line * 1.5);
        }

        cursor: pointer;
      }

      &:last-of-type {
        border: {
          bottom-left-radius: 0;
        }
        .label {
          bottom: 0;
        }
      }

      &:first-of-type {
        border: {
          top-left-radius: 0;
        }
        .label {
          top: 0;
        }
      }

      &.shown {
        left: 0;
        right: $line * 4;
      }

      .ungvar {
        font: {
          family: Logo;
          size: $line * 2.5;
        }
        color: $red;
      }

      .to-footer,
      .full-screen-feedback-button {
        cursor: pointer;
        color: $red;
        text: {
          decoration: underline;
        }
      }
    }
  }
}
@media only screen and(min-device-width: 320px) and(max-device-width: 568px) {
  #main-header {
    height: 8%;

    padding: 0;
    margin: 0;
    display: flex;

    justify-content: flex-start !important;
    align-items: flex-start;

    box-shadow: 0 0 0 0.2em $red;

    .logo {
      box-sizing: border-box;

      width: inherit;
      height: 100%;
      margin: 0;
      padding: 0;

      overflow: hidden;

      h1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: opacify($darkyellow, 0.2);

        box-shadow: none;
        .title {
          display: inline-block;

          font: {
            size: 3.5em;
          };

          .dot {
            color: transparent;

          }
        }

        .corner {
          display: none;
        }
      }

      > .corner {
        display: none;
      }
    }

    #customers-info {
      display: none;

      p {

        .label {

          background: {
            image:
                    linear-gradient(to bottom right, opacify($yellow,0.1) $line * 1.5, transparent $line * 1.5),
                    linear-gradient(to top right, $yellow $line * 1.5, $red $line * 1.5);
          }
        }
      }
    }
  }
}