$line: 10px;
$time: 0.3s;

$background: #FFF063;
$dark: #0E0000;
$yellow: rgba(250, 255, 176, 0.9);
$darkyellow: rgba(250, 255, 216, 0.8);
$light: rgba(250, 255, 216, 0.9);
$red: #830300;
$grey-text: #5c5143;
$grey-item: rgba(182, 175, 242, 0.74);
$privat24: rgb(92, 154, 34);

@mixin button($color: $yellow, $text-color: black) {
  font: {
    weight: bold;
  }
  color: $text-color;

  outline: none;
  border: none;
  border: {
    radius: $line * 2;
  }
  box-shadow: $line / 10 $line / 10 $line / 5 0 $dark;

  background: {
    image: linear-gradient(lighten($color, 5%), darken($color, 5%));
  }

  transition: {
    duration: $time / 5;
  }

  &:active {
    background: {
      image: linear-gradient(darken($color, 5%), lighten($color, 5%));
    }
  }

  &:hover {
  }
}

@mixin item() {
  transition: {
    duration: $time / 2;
    timing-function: linear;
  }

  border: {
    radius: $line * 2;
  }

  cursor: pointer;

  img,
  .price {
    box-shadow: 0 $line / 10 $line / 10 0 $dark;
  }

  &:hover{
    background: {
      color: fade_out($light, 0.5);
    }
  }
}

@mixin button-2() {
  border:{
    radius: $line * 2;
  }
  box-shadow: $line / 10 $line / 10 $line / 10 0 $dark;

  background:{
    color: $light;
  }
  color: $dark;

  padding: $line / 2;
  font: {
    size: $line * 1.5;
  }
}

@mixin input() {
  border: none;
  outline: none;

  border: {
    radius: $line * 2;
  }

  background-color: $darkyellow;
  padding: $line;
}

@mixin add($empty: true, $width: $line * 10, $height: $line * 30) {
  background: $light;
  width: $width;
  height: $height;
  max-width: $width;
  max-height: $height;
  position: fixed;

  @if $empty {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: $line / 5 $line / 5 0 0 $red;
  }

  @if $empty {
    h5 {
      margin: 0;
      padding: $line / 2;
      text-align: center;
      color: $red;
    }
  } @else {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      text: {
        decoration: none;
      }
      color: $red;
    }
  }
}

@mixin body-style() {
  background:{
    color: transparentize($light, 0.5);
    image: url("../images/bg.png");
    position: 0 0;
    size: 100% 100%;
    attachment: fixed;
    blend-mode: overlay;
  }
  min-width: $line * 80;
  font:{
    family: Arial, sans-serif;
  }
  display: flex;
  flex-direction: column;
}

@mixin to-cart {
  .to-cart {
    height: 10%;

    box-sizing: border-box;

    top: -9%;
    right: 3%;

    border-radius: $line * 2;

    font: {
      size: 2.4em;
    }

    padding: 2%;

    &:hover {
    }

    img {
      height: 100%;
    }
    span{
      display: none;
    }
  }
}

@keyframes shake {
  25% {
    transform: translateX($line / 2);
  }

  75% {
    transform: translateX($line / -2);
  }
}

@keyframes preloader {
  from {

  }

  33% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
  }

  66% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
  }

  99% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
    opacity: 0;
  }

  to {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
    opacity: 0;
    display: none;
  }
}

@font-face {
  font-family: Logo;
  src: url('../fonts/logo.ttf');
}